
@font-face {
	font-family: 'Flex Display';
	src: url('./fonts/FlexDisplay-Thin.eot');
	src: url('./fonts/FlexDisplay-Thin.eot?#iefix') format('embedded-opentype'),
		url('./fonts/FlexDisplay-Thin.woff') format('woff'),
		url('./fonts/FlexDisplay-Thin.ttf') format('truetype'),
		url('./fonts/FlexDisplay-Thin.svg#FlexDisplay-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

html
{
	font-size: 16px;
}

#app.dark,
#app.dark table {
	color: #AAA;
}

#app table{
	color: #888;
}

body {
	color: #282727;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-size: cover;
}

.no-webp body{
  background-image: url("../images/food.png");
}

.webp body {
background-image: url("../images/food.webp");
}

#app {
	background-color: rgba(0,0,0,.5);
	height: 100%;
	overflow: auto;
}

#app.dark {
	background-color: rgba(0,0,0,.8);
}

#app .recipe-display {
	background: rgba(255,255,255,.7);
	border-radius: .3rem;
	padding: 1rem;
	margin-top: .5rem;
}
#app.dark .recipe-display {
	background-color: #444;
}

#app.dark table {
	background-color: #444;
}

#app table {
	background: rgba(255,255,255,.7);
	border-radius: .3rem;
	padding: 1rem;
	margin-top: .5rem;
}

#app .table td, #app .table th {
	vertical-align: middle;
}

#app.dark .page-header,
#app.dark .table>thead>tr>th,
#app.dark .table>tbody>tr>td {
	border-bottom: 1px solid #a053ec;
}

#app.dark .table>tbody>tr>td {
	border-top: 1px solid #a053ec;
}

#app.dark header {
	background-color: #333;
}

#app header {
	background: rgba(255,255,255,.7);
	border-radius: .3rem;
	padding: 1rem;
	margin-top: .5rem;
}

#app .container-fluid {
	padding: 0 .5rem;
}

#app.dark .jumbotron {
	background-color: #333;
}
#app.dark hr {
	border-top-color: #a053ec;
}

#app.dark nav a {
	color: #a053ec;
	text-decoration: none;
}

#app.dark .btn {
	text-decoration: none;
}
#app.dark .btn-primary {
	color: #aaa;
	background-color: #622ac5;
	border-color: #360096;
}

#app.dark .btn-link,
#app.dark a {
	color: #a053ec;
}

#app.dark .form-control {
	background-color: #444;
	color: #aaa;
}

#app {
	font: 16px Garamond, Helvetica, Arial, sans-serif;
	font-weight: 200;
}
#app .jumbotron {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: rgba(255,255,255,.7);
	margin-bottom: 0;
}

#app nav {
	padding-bottom: 10px;
	font-family: Arial, sans-serif;
	letter-spacing: 5px;
	font-weight: bold;
}

#app .ingredient-list-item {
	line-height: 1.5rem;
}

#app .page-header {
	font: 3em 'Flex Display', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 7px;
}

.btn {
	margin-right: 5px;
}

#app .theme-toggle {
	float: right;
	font-size: .5rem;
}

#app .delete-recipe {
	font-size: .75rem;
}

@media print {
	#app .page-header,
	#app nav {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	#app .recipe-description,
	#app .recipes-header ,
	#app .page-header{
		display: none;	
	}
	#app nav {
		padding: 0;
	}
}
